body{
    font-family:'Acme', sans-serif;
    text-align:justify;
    padding: 5px;
    margin: auto;
}

.height {
    width:100%;
}

.width {
    width:100%;
}

#container {
    width: 1500px;
    min-height: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: White;
}

#header {
    width: 100%;
    min-height: 70px;
    background-color: #ddd;
    position: sticky;
    float:left;
    border-radius:25px;
}

#content {
    width: 0%;
    min-height: 750px;
    float: left;
    background-color: white;
}

#section {
    width: 100%;
    min-height: 750px;
    float: left;
    background-color: #ddd;
    border-radius: 25px;
}

#selection-insidepanel {
    margin: 50px 50px;
    background-color: white;
    border-radius: 25px;
    padding: 15px;
    min-height: 700px;
    overflow-y: scroll;
}

.selection-insidepaneltext{
    margin-top:650px;
    text-align:center;
    font-size:25px;
    

}

.selection-insidepanel-window {
    border-radius: 25px;
    background-color: #383838;
    z-index: 1;
    float: left;
    margin: 45px;
    font-size: 25px;
    padding: 13px;
    transition: 0.5s;
    margin-left: 110px;
    margin-right: 100px;
}

    .selection-insidepanel-window:hover{
        transform: scale(1.2)
    }

    .selection-insidepanel-window img{
        border-radius:12px;
    }

    #footer {
        width: 100%;
        height: 50px;
        clear: both;
        overflow-y: scroll;
        background-color: white;
    }

.text {
    color: Black;
    font-size: 44px;
}
 
.col {
    background-color:white;
    height:10px;
    clear:both;
}

.marginl {
    margin-left: 175px;
}
.marginl1 {
    margin-left: 25px;
}
#marginm {
    margin-left:50px;
    background-color:white;
    border-radius:12px;
}

#main{
    padding-top:1px;
}

.menuh {
    width: 200px;
    background-color: white;
    color: black;
    border-radius: 12px;

}

.menuh h6 {
    font: 18px arial;
    text-align:left;
}

.menuh h5{
    font:bold;
    text-align:center;
}

/*menu*/

.menulink {
    background-color: white;
    border-radius: 12px;
    padding: 8px;
    text-align: center;
    font-size: 25px;
    border:none;
}

.menubtn {
    background-color: white;
    border-radius: 12px;
    padding: 8px;
    text-align: center;
    font-size: 25px;
    border:none;
}

.menu {
    position: relative;
    display: inline-block;
}

.menu-content {
    display: none;
    position: absolute;
    background-color: gray;
    min-width: 170px;
    box-shadow: 0px 8px 8px 0px;
    z-index: 1;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-top: 1px;
}

.menu-content-1 {
    color: white;
    margin-left:5px;
    margin-top: 5px;
    margin-bottom:5px;
    font-size:17px;
}

.menu-content a:hover {
    background-color: darkgray;
}

.menu:hover .menu-content {
    display: block;
}

.menu:hover .menubtn {
    background-color: gray;
    border-bottom-left-radius: 0px;
}

/*Side Nav*/

#sidenav a{
    position: absolute;
    left: -100px;
    transition: 0.5s;
    padding: 15px;
    width: 120px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 15px 15px 0;
    top:revert;
}

#sidenav a:hover{
    left: 0;
}

#about {
    margin-top:-80px;
    background-color: #6C6C6C;
}

#contact {
    margin-top:-40px;
    background-color: #464646;
}


/*Oyunlar*/


.masa_oyunlari_inside-a {
    margin: 50px 50px;
    border-radius: 25px;
    background-color: #6C6C6C;
    height:750px;
    float:right;
}
    .masa_oyunlari_inside-a img {
        margin-left: 25px;
        border-radius: 50px;
        height: 700px;
        align-content: center;
        padding-top: 20px;
    }

    

.masa_oyunlari_inside-b{
    padding-right:1px;
    background-color:white;
}

    .masa_oyunlari_inside-b h3 {
        color: #101010;
        text-align:center;
        font: bold;
        float: right;
        }

    .masa_oyunlari_inside-b h4 {
        color: #bebebe;
        font: arial;
        float: right;
     }

    