body{
    font-family:'Acme', sans-serif;
    text-align:justify;
    padding: 5px;
    margin: auto;
}

.height {
    width:100%;
}

.width {
    width:100%;
}

a{
    text-decoration:none;
    color:#000;
}

a:hover{
    color:red;
}

#container {
    width: 1500px;
    min-height: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: White;
}

#header {
    width: 100%;
    min-height: 70px;
    background-color: #ddd;
    position: sticky;
    float:left;
    border-radius:25px;
}

#content {
    width: 0%;
    min-height: 750px;
    float: left;
    background-color: white;
}

#section {
    width: 100%;
    min-height: 750px;
    float: left;
    background-color: #ddd;
    border-radius: 25px;
}

#selection-insidepanel {
    margin: 50px 50px;
    background-color: white;
    border-radius: 25px;
    padding: 15px;
    min-height: 700px;
    overflow-y: scroll;
    max-height:700px;
}

.selection-insidepaneltext{
    margin-top:650px;
    text-align:center;
    font-size:25px;
    

}

.selection-insidepanel-window {
    border-radius: 25px;
    background-color: #383838;
    z-index: 1;
    float: left;
    margin: 45px;
    font-size: 25px;
    padding: 13px;
    transition: 0.5s;
    margin-left: 110px;
    margin-right: 100px;
}


    .selection-insidepanel-window img{
        border-radius:15px;
    }

    .selection-insidepanel-window:hover {
        transform: scale(1.2);
    }

/*
    #footer {
        width: 100%;
        height: 50px;
        clear: both;
        overflow-y: scroll;
        background-color: white;
    }
*/

.text {
    color: Black;
    font-size: 44px;
}
 
.col {
    background-color:white;
    height:10px;
    clear:both;
}

.marginl {
    margin-left: 175px;
}
.marginl1 {
    margin-left: 25px;
}
#marginm {
    margin-left:50px;
    background-color:white;
    border-radius:12px;
}

#main{
    padding-top:1px;
}

.menuh {
    width: 200px;
    background-color: white;
    color: black;
    border-radius: 12px;

}

    .menuh h6 {
        font: 18px arial;
        text-align: left;
    }

    .menuh h5{
        font:bold;
        text-align:center;
    }

/*menu*/

.menulink {
    background-color: white;
    border-radius: 12px;
    padding: 8px;
    text-align: center;
    font-size: 25px;
    border:none;
}

.menubtn {
    background-color: white;
    border-radius: 12px;
    padding: 8px;
    text-align: center;
    font-size: 25px;
    border:none;
}

.menu {
    position: relative;
    display: inline-block;
}

.menu-content {
    display: none;
    position: absolute;
    background-color: gray;
    min-width: 170px;
    box-shadow: 0px 8px 8px 0px;
    z-index: 1;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-top: 1px;
}

.menu-content-1 {
    color: white;
    margin-left:5px;
    margin-top: 5px;
    margin-bottom:5px;
    font-size:17px;
}

.menu-content a:hover {
    background-color: darkgray;
}

.menu:hover .menu-content {
    display: block;
}

.menu:hover .menubtn {
    background-color: gray;
    border-bottom-left-radius: 0px;
}

/*Side Nav*/

#sidenav a{
    position: absolute;
    left: -100px;
    transition: 0.5s;
    padding: 15px;
    width: 120px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 15px 15px 0;
    top:revert;
}

#sidenav a:hover{
    left: 0;
}

#about {
    margin-top:-80px;
    background-color: #6C6C6C;
}

#contact {
    margin-top:-40px;
    background-color: #464646;
}


/*Oyunlar*/


.masaoyunlari_content {
    border-radius: 25px;
    background-color: #383838;
    height:700px;
    margin: 50px 50px;
    padding:12px;
    
}

    .masaoyunlari_content img {
        border-radius: 12px;
        height:688px;
        width:500px;
    }


.masaoyunlari_content_inside{
    float:right;
    max-width:850px;
    max-height:700px;
    overflow-y:scroll;
}



    .masaoyunlari_content_inside h3 {
        color: #823333;
        border-radius: 12px;
        font-size: 25px;
        float: right;
        background-color: darkgray;
        text-align: center;
        width: 795px;
        padding: 5px;
    }

    .masaoyunlari_content_inside h5 ,ol,ul{
        color: white;
        border-radius: 12px;
        float:right;
        background-color: darkgray;
        text-align: left;
        width: 795px;
        padding:5px;
        
    }

    .masaoyunlari_content_inside h4 {
        color: #823333;
        text-align: left;
        padding-left:5px;
    }

    .masaoyunlari_content_inside-noscroll {
        overflow-y: unset;
    }

.masaoyunlari_all {
    background-color: gray;
    float: left;
    max-width: 300px;
    border-radius: 12px;
    padding: 5px;
    text-align: center;
    margin-left: 120px;
    float: left;
    margin-top:100px;
    transition:0.5s;
    margin-bottom:50px;
}

    .masaoyunlari_all:hover {
        transform: scale(1.2);
    }

    .masaoyunlari_all img {
        border-radius: 12px;
        width: 300px;
        height: 300px;
    }


/*Video oyunlari*/


.videoyun {
    border-radius: 25px;
    background-color: white;
    height: 700px;
    margin: 50px 50px;
    padding: 12px;
    overflow-y:scroll;
}

    .videoyun_noscrol {
        overflow-y: unset;
    }


    #videoyun_inside_left {
        width: 1200px;
        height: 150px;
        background-color: lightgray;
        border-radius: 25px;
        padding: 15px;
        margin-left: 5px;
    }

        #videoyun_inside_left h4 {
            text-align: left;
            float: right;
            width: 1000px;
            margin-top: 5px;
        }

        #videoyun_inside_left img {
            border-radius: 12px;
            padding: 5px;
            width: 150px;
            height: 145px;
        }

    .videoyun_inside_left {
        width: 1200px;
        height: 150px;
        background-color: lightgray;
        border-radius: 25px;
        padding: 15px;
        margin-left: 5px;
        margin-top:50px;
    }

        .videoyun_inside_left h4 {
            text-align: left;
            float: right;
            width: 900px;
            margin-top: 5px;
        }

        .videoyun_inside_left img {
            border-radius: 12px;
            padding: 5px;
            width: 290px;
            height: 145px;
        }


    .videoyun_inside_right {
        width: 1200px;
        height: 150px;
        background-color: lightgray;
        border-radius: 25px;
        padding: 15px;
        margin-left: 125px;
        text-align: right;
        margin-top:50px;
    }

        .videoyun_inside_right img {
            border-radius: 12px;
            padding: 5px;
            width: 290px;
            height: 145px;

        }

        .videoyun_inside_right h4 {
            text-align: left;
            float: left;
            width: 900px;
            margin-top: 5px;
        }

.img-gallery {
    width: 1200px;
    height: 150px;
    background-color: lightgray;
    border-radius: 25px;
    padding: 15px;
    margin-left: 5px;
    margin-top: 50px;
    overflow-y:scroll;
}

    .img-gallery img {
        border-radius: 12px;
        width: 300px;
        height: 160px;
        margin-bottom:5px;
    }

.full-img {
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index:100;
}
    .full-img img {
        width: 1200px;
        height: 700px;
    }
    
    .full-img span{
        position:absolute;
        top:5%;
        right:5%;
        font-size:30px;
        color:gray;
        cursor:pointer;
    }
        
/*Mekan Oyunlari*/


.mekan {
    border-radius: 25px;
    background-color: white;
    height: 700px;
    margin: 50px 50px;
    padding: 12px;
    overflow-y: scroll;
}

.mekan_noscroll{
    overflow:unset;
}

.mekan_text {
    margin: 25px 25px;
    border-radius: 25px;
    width: 96%;
    height:100%;
    background-color: lightgray;
}

    .mekan_text h4 {
        text-align: left;
        padding-left: 12px;
        padding-top: 5px;
        color: red;
        font: bold, arial;
        font-size: 30px;
        width: 100%;
    }

    .mekan_text_list ol, ul {
        width: 94%;
        padding: 25px;
        color: black;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
        background-color: lightgray;
        border-radius: 25px;
    }

    .mekan_text_list h4 {
        text-align: left;
        padding-left: 12px;
        padding-top: 5px;
        color: red;
        font: bold, arial;
        font-size: 30px;
        width: 300px;
        border-radius: 25px;
        margin-left: auto;
        margin-right: auto;
        background-color: lightgray;
    }

    .mekan_text_list h5{
        font:bolder;
    }

    .mekan_text h6{
        text-align:left;
        color:black;
        font:arial;
        font-size:23px;
        width:75%;
        height:200px;
        float:right;
        margin-top:0px;
        padding-right:12px;
    }

    .mekan_text img{
        text-align:left;
        padding:5px;
        border-radius:25px;
        height:150px;
        width:300px;
    }


